img.pageView {
	width: 193px;
	height: 220px;
	margin-bottom: 10px;
}

.box {
	float: left;
	margin-right: 10px;
	padding: 8px;
	background: #f1f1f1;
	border-radius: 5px;
	margin-bottom: 5px;
}

input:focus {outline:0;}

.actualUploadBtn {
	display: none;
}

.add {
	width: 209px;
	height: 280px;
}

.add span {
	font-size: 12em;
	margin-left: 20px;
	margin-top: 45px;
}
.pages {
	list-style: none;
}

.newname {
	background: #F0F0F0;
	border: 1px solid #337ab7;
	padding: 5px;
	border-radius: 5px 0px 0px 3px;
	border-right: #fff;
}

.progress {
	display:none;
}

.refresh {
	float:left;
}

.delete {
	float:right;
}

.changeName {
	float:left;
	margin-left:1em;
}

.newname {
	display:none;
}

.zipUpload {
	float:right;
	margin-right:1em;
}

.saveOrder {
	float: right;
	display:none;
	margin-right:1em;
}

.archiveUpload {
	display: none;
}