{{#extend "js"}}
<script type="text/javascript" src="/js/chapters.js"></script>
{{/extend}}

{{#extend "css"}}
<meta charset="utf-8" name="description" content="List of all available Detective Conan Manga chapters. Read any of them right now for free, no ads!">
<link rel="stylesheet" type="text/css" href="/css/chapters.css">
{{/extend}}
<div id="info">
  {{#if mobile}}
    <img class="thumb" src="/img/thumbnail.jpg"/>
  {{/if}}
  <table class="table">
    <tbody>
      {{#unless mobile}}
      <tr>
        <td style="border-top: 0px solid #F0F0F0;padding-top: 0px;" width="300px" rowspan="9"><img class="thumb" src="/img/thumbnail.jpg"/></td>
      </tr>
      {{/unless}}
      <tr> 
        <th>Author</th>
        <td >Aoyama Gosho</td>
      </tr>
      <tr>
        <th>Genres</th>
        <td>Action, Adventure, Comedy, Drama, Mystery, Psychological, Romance, School, Life, Shounen, Tragedy</td>
      </tr>
      <tr>
        <th>Total Views</th>
        <td>{{totalViews}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>Shinichi Kudo is a high school detective who sometimes works with the police to solve cases. During an investigation, he is attacked by members of a crime syndicate known as the Black Organization. They force him to ingest an experimental poison, but instead of killing him, the poison transforms him into a child. Adopting the pseudonym Conan Edogawa and keeping his true identity a secret, Kudo lives with his childhood friend Ran and her father Kogoro, who is a private detective.</td>
      </tr>
    </tbody>
  </table>
  {{#unless mobile}}
    <span style="float: right;margin-bottom: 2em">From <a href="https://mangadex.com/manga/153">mangadex</a></span>
  {{/unless}}
</div>
<table class="table" id="chapters">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Uploader</th>
      <th>Views count</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>
