{{#extend "css"}}
<meta charset="utf-8" name="description" content="Free Detective Conan Manga viewer website!">
{{/extend}}
<script type='text/javascript'>
  cid = '{{id}}'
</script>

{{#extend "css"}}
<link rel="stylesheet" href="/css/chapter.css">
{{/extend}}

{{#extend "js"}}
	<script type="text/javascript" src="/js/reader.js"></script>
	<script type="text/javascript" src="/js/chapter.js"></script>
{{/extend}}

<h2 class="chaptertitle"></h2>
<div id="reader">
  <div class="controls">
    <a class="btn btn-primary previous">&#10094;</a>
    <a class="currentxt">1</a>
    <a class="btn btn-primary next">&#10095;</a>
  </div>
  <p style="text-align: center;">Or use right-click/left-click mouse buttons to switch between pages</p>

  <div class="reader">
    <img class="current" src=""/>
  </div>
  <hr>
  <button class="btn btn-primary comments-toggle">
      Toggle comments
  </button>
  
  {{#if user}}
    <button class="btn btn-primary comment-toggle">
      New comment
    </button>
  {{/if}}
  <div class="comments">
    {{#if user}}

      <div class="new-comment">
        <span class="quote-view"></span>
        <form method="POST" action="eyboss">
          <textarea placeholder="Be nice!" name="comment" class="form-control" cols="2" rows="5"></textarea>
          <br>
          <input value="Post" type="submit" class="submit btn btn-default">
          <button class="cancel btn btn-default" type="button">Cancel</button>
        </form>
      </div>
    {{/if}}

    {{#each comments}}
      <div class="comment" userid="{{userid}}" id="{{id}}" commentid="{{id}}">
        <span data-livestamp="{{time}}" style="float:right;"></span> 
        <div class="comment-user">
          <a href="/user/{{userid}}"></a> - #{{id}}
        </div>
        {{#if quote}}
          <div class="quoting">
            > <a href="#{{quote}}">#{{quote}}</a>
          </div>
        {{/if}}
        <div class="comment-content">
          {{content}}
        </div>
         {{#if ../user}}
        <div class="comment-actions">
          <ul>
            <li><a href="#" class="quote">Quote</a></li>
            <li><a href="#" class="report">Report</a></li>
            {{#xif ../user.id '==' userid}}
              <li><a href="#" class="edit">Edit</a></li>
            {{/xif}}
          </ul>
        </div>
        {{/if}}
      </div>
    {{/each}}

  </div>
</div>