﻿{{#extend "css"}}
<link rel='stylesheet' href='/css/index.css'/>
<meta charset="utf-8" name="description" content="Free Detective Conan Manga viewer website!">
{{/extend}}

{{#extend "js"}}
    <script type="text/javascript" src="/js/index.js"></script>
{{/extend}}
<h3>News</h3>
<div class='posts'>
    {{#each posts}}
      <div class='post' id={{id}}>
        <h3>{{title}}</h3>
        <p>{{{content}}}</p>
        <span class='date'>{{date}}</span>
        <div class='like'>
          <span class='likes'>{{likes.length}} likes</span>
          
        </div>
      </div>
    {{/each}}
</div>
