<html>
<head>
    <title>Detective Conan Manga</title>
    <script type="text/javascript">
            var mobile = {{mobile}};
    </script>
    {{#if user}}
        <script type="text/javascript">
            var user = {
                id: '{{user.id}}',
                username: '{{user.username}}',
            }
        </script>
    {{/if}}
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    
    {{#if production}}
        <link rel="stylesheet" type="text/css" href="/css/dep.css">
    {{else}}
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/jqueryui.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/datatables.css">
    {{/if}}

    {{{block "css"}}}
    
</head>
<body>
    {{> "navbar"}}

    <h2 class="error"></h2>
    <h2 class="success"></h2>
    <div class="loading">
        <img src="" alt="loading"/>
    </div>
    <div class="content">
        {{{body}}}
        <br>
        <br>
    </div>
    {{#if production}}
        <script type="text/javascript" src="/js/dep.js"></script>
    {{else}}
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/jqueryui.js"></script>
        <script type="text/javascript" src="/js/timeago.js"></script>
        <script type="text/javascript" src="/js/datatables.js"></script>
        <script type="text/javascript" src="/js/notify.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    {{/if}}

    {{{block "js"}}}
</body>
</html>