{{#extend "js"}}
<script type="text/javascript" src="/js/logins.js"></script>
{{/extend}}
{{#if logins}}
  <h5><span class='amount'>{{logins.length}}</span> login(s) found.</h5>
  <table class="logins table">
    <thead>
      <tr>
        <th>OS</th>
        <th>Browser</th>
        <th>Platform</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each logins}}
        <tr>
          <td>{{clientInfo.os}}</td>
          <td>{{clientInfo.browser}} {{clientInfo.version}}</td>
          <td>{{clientInfo.platform}}</td>
          <td>
            <button tid='{{token}}', class='delete btn btn-primary'>Logout</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
<h3>No saved logins found.</h3>
{{/if}}