﻿{{#extend "css"}}
<meta charset="utf-8" name="description" content="Login and access some cool features on the DCManga website!">
{{/extend}}
{{#extend "js"}}
<script type='text/javascript' src='/js/login.js'></script>
{{/extend}}
<div class="panel panel-default">
	<div class="panel-heading">Hey!</div>
	<div class="panel-body">
		<p>If you are having problems signing in, please <a href="#">contact</a> the administrator.</p>
	</div>

	<form method="POST" action="/register" class="login">
		<table class="table">
			<tr>
				<td>Username</td>
				<td><input type="text" class="username form-control" name="username"/></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" class="password form-control" name="password"/></td>
			</tr>
			<tr>
				<td><label for="stayloggedin" style="padding-left: 5px;line-height: 25px;">Stay logged in</label></td>
				<td><input type="checkbox" id="stayloggedin" name="stayloggedin" value="1"/></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit" class="btn btn-cool">Login</button></td>
			</tr>
		</table>
	</form>
</div>