﻿<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/chapters">Chapters</a></li>
      <ul id="right">
        {{#if user}}
          <li><a {{#unless mobile}} href="/profile" {{/unless}} class='username'>{{user.username}} <span style="font-size:9px;" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li> 
          <ul class='dropdown'>
            {{#if mobile}}
              <li><a href="/profile">Profile</a></li>
            {{/if}}
            {{#xif user.rank '>' 1}}
              <li><a href="/acp">Control Panel</a></li>
            {{/xif}}
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>          
          </ul>
        {{else}}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </ul>
  </nav>
</header>