{{#extend "css"}}
<meta charset="utf-8" name="description" content="Register and access some cool features on the DCManga website!">
{{/extend}}
{{#extend "js"}}
<script type='text/javascript' src='/js/register.js'></script>
{{/extend}}
<div>
	<ul class="errors"></ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Hey!</div>
	<div class="panel-body">
		<p>I'm happy that you're probably considering registering on my website, I hope you have a great stay.</p>
	</div>

	<form method="POST" action="/register" class="register">
		<table class="table">
			<tr>
				<td>Username</td>
				<td><input type="text" class="form-control" name="username"/></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" class="form-control" name="email"/></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" class="form-control"/></td>
			</tr>
			<tr>
				<td>Confirm password</td>
				<td><input type="password" name="passwordConfirm" class="form-control"/></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit" class="btn btn-cool">Register</button></td>
			</tr>
		</table>
	</form>
</div>