{{#extend "css"}}
<link rel="stylesheet" href="/css/settings.css"/>
{{/extend}}
<h1 class="settings">Settings</h1>
<div class="row">
  {{#if mobile}}
    {{#unless options}}
      <div class="col-sm-8">
          <ul class="mobile-nav">
            <li><a class="btn btn-primary" href="/settings/password">Change password</a></li>
            <li><a class="btn btn-primary" href="/settings/email">Change email</a></li>
            <li><a class="btn btn-primary" href="/settings/avatar">Change avatar</a></li>
            <li><a class="btn btn-primary" href="/settings/logins">Manage logins</a></li>
          </ul>
      </div>
    {{/unless}}
  {{else}}
      <div class="col-sm-2">
        <nav class="nav-sidebar">
          <ul class="nav">
            <li><a href="/settings/password">Change password</a></li>
            <li><a href="/settings/email">Change email</a></li>
            <li><a href="/settings/avatar">Change avatar</a></li>
            <li><a href="/settings/logins">Manage logins</a></li>
          </ul>
        </nav>
      </div>
  {{/if}}
  <div class="col-sm-6 subcontent">
    {{#if options}}
        {{#if options.include}}
          {{> "logins"}}
        {{else}}
          {{#if options.extrafields}}
            {{#each options.extrafields}}
              <{{tag}} {{#each attrs}} {{name}}='{{value}}'{{/each}} />
            {{/each}}
          {{/if}}
          <form action='{{options.action}}' {{#if options.fileupload}} enctype='multipart/form-data' {{/if}}  method='POST'>  
            {{#if options.table}}
            <table class="table">
            {{/if}}
            {{#each options.fields}}
              {{#if ../options.table}}
                <tr>
                  <td>{{label}}</td>
                  <td><input {{#if class}} class="{{class}}" {{else}} class="form-control" {{/if}} type='{{type}}' name='{{name}}'/></td>
                <tr>
              {{else}}
                {{label}} <input {{#if class}} class="{{class}}" {{else}} class="form-control" {{/if}} type='{{type}}' name='{{name}}'/>
              {{/if}}
            {{/each}}
            {{#if options.table}}
            </table>
            {{/if}}
            <br>
            <input type="submit" class='btn btn-primary' value='Submit'>
            {{#if mobile}}
            <a style="float:right;" href="/settings" class="btn btn-primary">Back</a>
            {{/if}}
          </form>
        {{/if}}
    {{else}}
      {{#unless mobile}}
        <p>I'm just here to fill this place, ignore me for now.</p>
      {{/unless}}
    {{/if}}    
  </div>
</div>