{{#extend "css"}}
<meta charset="utf-8" name="description" content="{{userInfo.username}} is one of the great DCManga users, register to join them and have fun!">
{{/extend}}

<img src='/user/avatar/{{userInfo.id}}' alt="avatar">
<h3>{{userInfo.username}}</h3>
<p>Last seen at {{userInfo.lastSeen}}</p>