@media only screen and (max-device-width: 480px) {
    .thumb {
		width:300px;
		border-radius: 5px;
		margin: auto;
		text-align: center;
		display: block;
		padding-bottom: 1em;
    }
}

.thumb {
	width:300px;
	border-radius: 5px;
}