.current {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.controls {
	text-align: center;
	margin-bottom: 10px;
}

.centerimg {
	text-align: center;
}

.controls a {
    margin-left: 10px;
}

.cache * {
	display: none
}
.comments {
	margin-top:2em;
}

.comment {
    background: #2a2a2a;
    padding: 6px;
    margin-top: 12px;
    border-radius: 2px;
    overflow: hidden;
}

.comments .new-comment {
	display:none;
	overflow:hidden;
}

.comments .new-comment .submit, .comments .new-comment .cancel {
	float:right;
	margin-left:1em;
}

.comment-actions ul li {
	float:right;
	margin-left:1em;
}
