.post {
    background: #2D2D2D;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.date {
    float: right;
}

.like img {
	width: 30px;
}

.like img:hover {
	cursor:pointer;
}

.title {
	text-align: center;
}