﻿header {
    margin-top: 5em;
}

header nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:69;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li:hover {
    background-color: #1a1a1a;
    -webkit-transition:1s;
}

header nav ul a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul a:hover {
    text-decoration: none;
}

header nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#C3C3C3;
}
@media only screen and (max-device-width: 480px) {
    #right {
        margin-right:5px !important;
    }
}
#right {
    display: block;
    text-align: center;
    text-decoration: none;
    float:right !important;
    margin-right: 3em;
}

.dropdown {
    display: none;
    position: absolute !important;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 11px;
    top: 50px;
}

.dropdown li {
    float: none;
}

.dropdown a:hover {
    background-color: #1a1a1a;
}


.dropdown a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}