@media only screen and (max-device-width: 480px) {
    .nav-sidebar {
        border-right: 0px !important;
    }
    .nav-sidebar a {
        border-radius:4px 4px 4px 4px !important;
    }
    .settings {
        text-align: center;
    }
}
.subcontent {
    margin-top:8px;
}
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    float:left;
    border-right: 1px solid #333;
}
.nav-sidebar a {
    color: #C3C3C3 !important;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    border-radius: 4px 0 0 4px; 
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #333;
}

.mobile-nav li {
    width: 47%;
    float: left;
    margin: 4px;
}

.mobile-nav li a {
    width: 150px;
    padding: 13px;
    font-size: 15px;
}