/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body {
    font-size: 1.05em;
    line-height: 1.25em;
    font-family: Helvetica Neue, Helvetica, Arial;
    background-color: #1a1a1a;
    color: #C3C3C3;
}
a {
    color: #C3C3C3;
}
@media only screen and (max-device-width: 480px) {
    .content {
        width:96% !important;
    }
}

.clear { clear:both; }
.content {
    margin: auto;
    width: 80%;
}

.error {
    color:tomato;
    text-align:center;
}

.success {
    color:green;
    text-align:center;
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #8D8D8D;
}

.btn-cool {
    color: #C3C3C3;
    background-color: #2a2a2a;
    border-color: #C3C3C3;
}

.btn-cool:hover {
    background-color: #5a5a5a;
}

.errors {
	display: none;
	list-style: none;
	background: tomato;
	padding: 5px;
}

.errors li {
    margin-top: 5px;
}

.loading {
    display:none;
    position: fixed;
    background: #D8370066;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom:0;
    right:0;
}

#chapters_filter label input{
    background-color: #3a3a3a;
    border: 1px solid #8a9a9a;
    color: #C3C3C3;
}