{{#extend "js"}}
<script type="text/javascript" src="/js/acp/blog.js"></script>
{{/extend}}
<div style="display:none;" id="dialog-form" title="Insert a link">
	<form>
		<label>URL</label>
		<input type="text" class="linkURL form-control"/>
		<br>
		<label>Text</label>
		<input type="text" class="linkName form-control"/>
	</form>
</div>

{{#if blog}}
<form action="/acp/blog/edit" method="POST">
	<input type="hidden" name="id" value="{{blog.id}}"/>
{{else}}
<form action="/acp/blog/new" method="POST">
{{/if}}
	<table class="table">
		<tr>
			<td>Title</td>
			<td><input {{#if blog}} value='{{blog.title}}' {{/if}} class="title form-control" type="text" name="title" placeholder="Title"></td>
		</tr>
		<tr>
			<td>Content</td>
			<td>
				<div class="tools">
					<ul style="list-style: none;">
						<li><button type="button" class="insertlink btn btn-primary">Insert link</button></li>
					</ul>
				</div>
				<textarea class="blogcontent form-control" style="width: 1196px; height: 174px;" type="text" name="content">{{#if blog}}{{blog.content}}{{/if}}</textarea>
			</td>
		</tr>
		<tr>
			<td>Submit</td>
			<td><input class="btn btn-primary" type="submit" value="Post"></td>
		</tr>
	</table>
</form>