{{#extend "js"}}
<script type="text/javascript" src="/js/acp.js"></script>
{{/extend}}
<a class="btn btn-primary" href="/acp/blog/new" style="margin-left: 50%">New</a>
<table id="blogs">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th>actions</th>
    </tr>
  </thead>
</table>
