{{#extend "css"}}
<link rel="stylesheet" href="/css/acp/chapter.css" />
{{/extend}}

{{#extend "js"}}
<script type="text/javascript" src="/js/acp/chapter.js"></script>
{{/extend}}


<script type="text/javascript">var chapterId={{id}};</script>
<div class="progress"></div>
<div class="controls">
    <button class="btn btn-primary refresh">Refresh pages</button>
    <form method="POST" action="/acp/chapter/name" class="changeName">
        <input type="hidden" name="id" value='{{id}}' />
        <input class="newname" type="text" name="name" placeholder="New name" />
        <input class="btn btn-primary editName" type="submit" value="Edit name" />
    </form>
    <form method="POST" action="/acp/chapters/delete/" id="deleteChapter">
        <input type="hidden" name="id" / value='{{id}}'>
        <input class="btn btn-primary delete" type="submit" value="Delete Chapter" />
    </form>
    <button class="btn btn-primary zipUpload">Upload ZIP</button>
    <button class="btn btn-primary saveOrder">Save order</button>
    <form class="archiveForm" method="POST" action="/acp/chapter/bulk" enctype="multipart/form-data">
        <input class="archiveUpload" type="file" name="archive" />
        <input type="hidden" name="id" value='{{id}}' />
    </form>
</div><br/><br/>
<ul class="pages"></ul>
