{{#extend "js"}}
<script type="text/javascript" src="/js/acp.js"></script>
{{/extend}}
<a class="btn btn-primary" href="/acp/chapter/new" style="margin-left: 50%">New</a>
<table class="table" id="chapters">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>uploader</th>
      <th>views</th>
      <th>actions</th>
    </tr>
  </thead>
</table>
