<h3>Add a new chapter:</h3>
<form method="POST" action="/acp/chapter/new">
	<div class="input-group">
	  <input class="form-control" type="text" name="title" placeholder="Chapter name"/><span class="input-group-btn">
	    <input class="btn btn-primary" type="submit" value="Create"/></span>
	</div>
</form>