{{#extend "js"}}
<script type="text/javascript" src="/js/acp.js"></script>
{{/extend}}
<table class="table" id="users">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>Last Seen</th>
      <th>Register Date</th>
      <th>Rank</th>
      <th>Banned</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>